.pt-94px{
    padding-top: 94px !important;
}
.w-280px{
    width: 280px;
}
.index-1{
    z-index: 1;
}
.text-blanco {
    color: #ffffff !important;
}
.bg-body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffffff;
}

.text-lage {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}
